.disabledList{
    
  pointer-events:none; 
  opacity:0.6;        

}

#todoList{
  border: 5px solid grey;
  border-radius: 0rem;
}

#mainnavbar{
  background: rgba(202, 6, 6, 0.484);
}
body{
  background-color: rgb(219, 214, 208);
}